linux-*
bash-*
grep-*
nano-*
ncurses-*
sed-*
gawk-*
grub*

GeminiOS.iso
init
project_export.txt
snake
packages/
.env
testdisk.qcow2

*.tar.gz
*.tar.xz
*.zip

*.qcow2
*.img
*.vdi
*.vmdk

.DS_Store
Thumbs.db

project_export.txt
rootfs/
isodir/
rootfs/*
isodir/*

packages/user/*.gpkg
*.gpkg