# Seed packages for the bulk Debian -> GPKG importer.
# Start small, validate, then expand.

# system
file
htop
jq
less
mesa-utils
micro
python3-pip
ripgrep
rsync
sqlite3
strace
tree
unzip
fastfetch
lomiri-wallpapers
xorg
libdbus-1-3
dbus-x11
zip
lightdm
libwebkit2gtk-4.1-0
weston

# DEs
task-mate-desktop
xfce4
xfce4-goodies
task-gnome-desktop

# browsers
firefox-esr

# apps
vlc
mpv
celluloid
rhythmbox
audacious
cheese

# graphics / images
gimp
inkscape
eog
gthumb
shotwell

# file management / archives
file-roller

# internet / communication
thunderbird
pidgin
hexchat
transmission-gtk
filezilla

# utilities
synaptic
gparted
baobab
gnome-disk-utility
keepassxc
qalculate-gtk
galculator

# remote / desktop sharing
remmina

# screenshots / recording / streaming
flameshot
obs-studio

# extra useful GUI apps
pavucontrol
seahorse
gnome-font-viewer
font-manager
